:root {
    --white: hsl(0, 0%, 100%);
    --white1: hsl(0, 0%, 95%);
    --white2: hsl(0, 0%, 90%);
    --white3: hsl(0, 0%, 80%);
    --white4: hsl(0, 0%, 70%);
    --black: hsl(0, 0%, 0%);
    --black1: #13181f;
    --black2: #171d25;
    --black3: #202833;
    --black4: #27313f;
    --black5: #2c3646;
}